<div class="container" *ngIf="challange">
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <h3 class="input-heading">Title</h3>
    <input type="text" name="title" formControlName="title" placeholder="Title">

    <h3 class="input-heading">Description</h3>
    <textarea name="description" formControlName="desc" placeholder="Description" rows="5" cols="30"></textarea>

    <h3 class="input-heading">Experience</h3>
    <ul formArrayName="exp">
      <li *ngFor="let exp of editForm.controls['exp'].controls; let i = index">
        <input class="exp-input" formControlName="{{i}}" type="text" >
        <button class="exp-btn exp-delete-btn" (click)="onDeleteExp(i)"><i class="fa fa-times"></i></button>
      </li>
    </ul>
    <button class="exp-btn" (click)="onAddExp()" type="button"><i class="fa fa-plus"></i></button>
    <h3 class="input-heading">Startdate</h3>
    <input type="date" name="startDate"  formControlName="startDate" [valueAsDate]="challange.startDate">

    <div id="form-btns">
      <input type="submit" value="Yep" [disabled]="!editForm.valid" [class.half-width]="!isNew">
      <button type="button" class="delete-btn" (click)="onDelete()" *ngIf="!isNew">Delete</button>
    </div>
  </form>
  <div class="error" *ngIf="dateError">
    <p>Start your challange today! Just don't enter a date in the future :)</p>
  </div>

</div>
