.container {
  padding-top: 2em;
}

.input-heading {
  margin: 1em 0 .5em 0;
}

.exp-btn {
  line-height: 15px;
  width: 35px;
  height: 35px;
  text-align: center;
  border: 2px solid #49475B;
  background: #49475B;
  color: #fff;
  transition: .1s ease;
  margin: .5em 0 1em 1em;
}

.exp-btn:hover {
  background-color: #fff;
  color: #49475B;
}

.exp-input {
  display: inline-block;
  width: 75%;
}

.exp-delete-btn {
  display: inline-block;
}

.delete-btn {
  width: 30%;
  display: inline-block;
  margin: 0;
  color: white;
  font-size:18px;
  background: #9E290F;
  border: 2px solid #9E290F;
  transition: .1s ease;
}

.delete-btn:hover {
  background: #fff;
  color: #9E290F;
}


#form-btns {
  margin: 0 0 0 1em;
  display: flex;
}

#form-btns input[type='submit'] {
  display: inline-block;
  width: 100%;
  margin: 0;
}

.half-width {
  width: 70%;
}

ul {
  list-style-type: upper-roman;
  list-style-position: outside;
  margin-left: 3em;
}
