.item {
  width: 320px;
  height: 250px;
  border: 1px solid #EDEDED;
  background: #fff;

  transition: .2s ease;
}

.item:hover {
  border: 1px solid #DFDFDF;
}

.item-content {
  height: 200px;
  padding: 5px 20px;
  margin-bottom: 10px;
}

.item-head {
  display: block;
  width: 100%;
  padding: 10px 0;
}

.item-head p, .item-head a {
  margin: 0;
  display: inline-block;
}

.item-head a {
  float: right;
}

.item-inner {
  display: flex;
  flex-flow: row wrap;
}

.item-title {
  width: 100%;
  margin: 1em 0;
  flex: 1 100%;
}

.item-circle {
  display: inline-block;
  width: 40%;
  flex: 1 auto;

  margin: 0;
}

.item-username {
  flex: 1 auto;
  align-self: center;
  width: 60%;
  margin: 0;
  padding-left: .5em;
}

.item-footer {
  display: flex;
  padding: 0;
  height: 40px;
  background-color: #cccccc;
  text-align: center;
}

.item-footer button {
  margin: 0;
  border: none;
  width: 100%;
  height: 100%;

  color: white;
  transition: .1s ease;
}

.item-footer button:hover {
  background-color: #fff!important;
  border: 2px solid #49475B;;
  color: #49475B;
}

.item-footer p {
  align-self: center;
  margin: 0 auto;

  color: white;
}

.edit-btn:hover {
  color: #ACB0BD;
}

.failed .item-title {
  text-decoration: line-through;
}
