<div class="item" [class.failed]="challange.failed">
    <div class="card-box">
      <a [routerLink]="[challange.id]">
        <div class="card-content">
          <div class="card-head">

            <ch-c-circle [challange]="challange" class="card-circle"></ch-c-circle>

            <p class="card-info" *ngIf="!challange.failed">{{accDays}}/30 Days</p>
            <p class="card-info failed-text" *ngIf="challange.failed">FAILED</p>
          </div>
          <h3 class="card-title">{{challange.title}}</h3>
        </div>
      </a>

      <div class="footer" *ngIf="ownChallange">
        <button class="-success" (click)="onComplete()">Complete</button>
        <button class="-warning" [routerLink]="[challange.id, 'edit']">Edit</button>
      </div>

      <div class="footer" *ngIf="!ownChallange">
        <p>by {{username}}</p>
      </div>

    </div>
</div>
