.c-list {
  max-width: 720px;
  height: 100%;
  margin: 0 auto;
}

ch-c-item {
  display: block;
  margin: 20px 0;
}

@media screen and (min-width: 740px) {
  ch-c-item {
    display: inline;
    float: left;
    margin: 20px
  }
}
