<nav>
  <div id="logo-btn">
    <a [routerLink]="['/']">30</a>
  </div>

  <div id="middle-group" class="desktop-nav">
      <a routerLinkActive="-active" [routerLink]="['/challanges']">All Challanges</a>
      <a routerLinkActive="-active" (click)="onNew()">New Challange</a>
      <a routerLinkActive="-active" (click)="onMyChallanges()">My Challanges</a>
  </div>
  <div id="sign-btn" class="desktop-nav">
    <a routerLinkActive="-active" [routerLink]="['/signin']" *ngIf="user === null">Sign in</a>
    <a routerLinkActive="-active" (click)="onSignout()" *ngIf="user != null">Sign out</a>
  </div>

  <div id="menu-btn">
    <button class="toggle-nav">Menu</button>
  </div>

  <ul class="mobile-nav">
    <li><a class="toggle-nav" [routerLink]="['/challanges']">All Challanges</a></li>
    <li><a class="toggle-nav" (click)="onNew()">New Challange</a></li>
    <li><a class="toggle-nav" (click)="onMyChallanges()">My Challanges</a></li>
    <li class="toggle-nav">
      <a [routerLink]="['/signin']" *ngIf="user === null">Sign in</a>
      <a (click)="onSignout()" *ngIf="user != null">Sign out</a>
    </li>
  </ul>
</nav>



