nav {
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 10;

  border-bottom: 3px solid #CC482A;
}

nav ul {
  list-style: none;
  margin: 0;
}

nav a {
  display: inline-block;
  margin-top: 25px;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  font-size: 16px;
}

nav a:hover {
  color: #ACB0BD;
}


.desktop-nav {
  display: none;
}

.mobile-nav {
  list-style: none;
  display: none;
  width: 100%;
  height: 120px;
  margin: 0;
  padding: 10px 0 0 0;
  background: #fff;
  position: absolute;
  top: 50px;
}

@media screen and (min-width: 768px) {
  .mobile-nav {
    display: none;
  }

  .desktop-nav {
    position: relative;
    top: auto;
    float: right;
    padding: 0;
    display: inline-block;
    width: 66%;
    height: 100%;
    background: none; } }

.show-nav {
  display: block; }

.nav-link {
  display: block;
  float: left;
  width: 100%; }
@media screen and (min-width: 768px) {
  .nav-link {
    width: 50%;
    height: 100%;
    display: inline-block; } }

#logo-btn {
  width: 50%;
  height: 100%;
  display: inline-block; }
@media screen and (min-width: 768px) {
  #logo-btn {
    width: 33%; } }

#menu-btn {
  display: inline-block;
  width: 50%;
  height: 100%;
  float: right;
  text-align: right; }
#menu-btn button {
  margin: 25px 20px 0 0;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  font-size: 16px; }
@media screen and (min-width: 768px) {
  #menu-btn {
    display: none; } }

#sign-btn {
  text-align: center; }

@media screen and (min-width: 768px) {
  #sign-btn {
    text-align: right;
  }
  #sign-btn a {
    margin-right: 20px;
  }
  #logo-btn a {
    margin-left: 20px;
  }
}

#middle-group {
  text-align: center;
}

#middle-group a {
  padding: 0 10px;
}
