<nav>
  <div id="logo-btn">
    <a [routerLink]="['/']">30</a>
  </div>
  <div id="menu-btn">
    <button class="toggle-nav">Menu</button>
  </div>
  <ul class="mobile-nav">
    <li class="nav-link" id="middle-group">
        <a [routerLink]="['/challanges']">All Challanges</a>
        <a (click)="onNew()">New Challange</a>
        <a (click)="onMyChallanges()">My Challanges</a>
    </li>
    <li>
      <a [routerLink]="['/signin']" *ngIf="user === null" column='4'>Sign in</a>
      <a [routerLink]="['/signout']" *ngIf="user != null" column='4'>Sign out</a>
    </li>
  </ul>
</nav>



