#head-bar {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  padding: 1em 0;
}

#head-bar ul {
  list-style: none;
}

#head-bar ul li {
  text-align: center;
}

#headline{
  display: inline;
}

#head-bar a :hover {
  cursor: pointer;
}





.header-wrapper {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  margin: 0 auto; }

nav {
  width: 100%;
  height: 100%; }

.mobile-nav {
  list-style: none;
  display: none;
  width: 100%;
  height: 120px;
  margin: 0;
  padding: 10px 0 0 0;
  background: #fff;
  position: absolute;
  top: 50px; }
@media screen and (min-width: 768px) {
  .mobile-nav {
    position: relative;
    top: auto;
    float: right;
    padding: 0;
    display: inline-block;
    width: 66%;
    height: 100%;
    background: none; } }

.show-nav {
  display: block; }

.nav-link {
  display: block;
  float: left;
  width: 100%; }
@media screen and (min-width: 768px) {
  .nav-link {
    width: 50%;
    height: 100%;
    display: inline-block; } }

#logo-btn {
  width: 50%;
  height: 100%;
  display: inline-block; }
@media screen and (min-width: 768px) {
  #logo-btn {
    width: 33%; } }

#menu-btn {
  display: inline-block;
  width: 50%;
  height: 100%;
  float: right;
  text-align: right; }
#menu-btn button {
  margin: 25px 20px 0 0;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  font-size: 16px; }
@media screen and (min-width: 768px) {
  #menu-btn {
    display: none; } }

#sign-btn {
  text-align: center; }
#sign-btn a {
  margin: 25px 0 0 0;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  font-size: 16px;
  display: inline-block; }
@media screen and (min-width: 768px) {
  #sign-btn a {
    margin-right: 20px; } }
@media screen and (min-width: 768px) {
  #sign-btn {
    text-align: right; } }

#middle-group {
  text-align: center; }
#middle-group a {
  display: inline-block;
  margin-top: 25px;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  font-size: 16px; }
