.diary-container {
  width: 100%;
  max-width: 480px;
}

.diary-item {
  width: 80px;
  height: 80px;
  position: relative;
  float: left;
  border: 1px solid lightgrey;
}

.-today {
  background-color: lightgrey;
}

.diary-item .fa {
  font-size: 40px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.diary-item .fa-check {
  color: #4db53c;
}

.diary-item .fa-times {
  color: #DB2800;
}

.diary-item .day-count {
  position: absolute;
  bottom: 0;
  right: 5%;
}
