.detail-header {
  background-color: white;
  padding: 1em 0;
}

.detail-header .container {
  width: 340px;
  display: flex;
  flex-flow: row wrap;
}

.row {
  width: 100%;
  display: block;
  margin: .5em 0;
}

#row-one {
  height: 70%;
  display: flex;
}

#row-two {
  height: 30%;
  display: flex;
}

.col-one {
  height: 100%;
  width: 40%;
  flex: 1 auto;
}

.col-two {
  height: 100%;
  width: 60%;
  flex: 1 auto;
}

#row-one .col-one {
  display: block;
}

#c-title {
  align-self: center;
}

.failed-text {
  margin-top: .5em;
}

@media screen and (min-width: 630px) {
  .detail-header .container {
    width: 600px;
    display: flex;
    flex-flow: row wrap;
  }
}
