<div class="detail-header">
  <div class="container">
    <div class="row" id="row-one">
      <ch-c-circle [challange]="challange" class="col-one"></ch-c-circle>
      <div id="c-title" class="col-two">
        <h2 class="challange-title">{{challange.title}}</h2>
        <h3 *ngIf="challange.failed" class="failed-text">FAILED</h3>
      </div>
    </div>

    <div class="row" id="row-two">
      <div id="c-started" class="col-one">
        <p>Started: {{challange.startDate | date}}</p>
      </div>
      <div id="c-username" class="col-two">
        <a [routerLink]="['/user', challange.uid]" *ngIf="cUsername">by {{cUsername}}</a>
      </div>
    </div>
  </div>
</div>
