/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

p, li, a, span, div, button, input {
  font-family: 'Exo', sans-serif;
}

h1, h2, h3 {
  font-family: 'Orbitron', sans-serif;
}

h3 {
  font-size: 20px;

}

h2 {
  font-size: 32px;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.-active {
  color: #49475B;
}

button {
  font-size: 16px;
}

main {
  width: 100vw;
  height: 100vh;
  margin-top: 50px;
  background: #fafafa;
}

.container {
  max-width: 720px;
  margin: 0 auto;
  padding-top: 2em;
}

ul {
  margin-top: 0;
}

button {
  background: none;
  border-radius: 0;
  border: 1px solid darkgray;
  padding: .5em;
  cursor: pointer;
}

.challange-title {
  display: inline-block;
}

.failed .challange-title{
  text-decoration: line-through;
}

.failed-text {
  text-decoration: none;
  color: darkred;
  margin-top: 0;
}



.detail-element {
  margin: 3em 0;
}

.detail-headline {
  margin: 1em 0;
  font-size: 24px;
}

.detail-content {
  margin: .5em 1.5em;
  font-size: 18px;
}



.-green {
  background-color: #4db53c!important;
}

.-yellow {
  background-color: #dd9d22!important;
}

.-blue {
  background-color: #49475B!important;  /* #307bbb; */
}

.-red {
  background-color: #DB2800!important;
}

.-failed-red {
  background-color: #9E290F!important;
}

input, textarea {
  width: 100%;
  font-size: 18px;
  color: #49475B;
  background: #fff;
  padding: .5em;
  border: 1px solid #EDEDED;
  margin: .5em 0 1em 1em;
}

input[type='submit'] {
  border: 2px solid #4db53c;
  color: #fff;
  background: #4db53c;
  transition: .1s ease;
  cursor: pointer;
}

input[type='submit']:hover {
  color: #4db53c;
  background: #fff;
}

input[type='submit']:disabled {
  background: #74B56A;
  color: #f5f5f5;
}

.sign-clue {
  display: block;
  padding-left: 1em;
  text-align: center;
  margin: 0 auto;
}

.sign-clue:hover {
  color: #ACB0BD;
}
