/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

p, li {
  font-family: 'Exo', sans-serif;
}

h1, h2, h3 {
  font-family: 'Orbitron', sans-serif;
}

a {
  text-decoration: none;
}

main {
  width: 100vw;
  height: 100vh;
  margin-top: 84px;
  background: #eee;
}

.container {
  max-width: 900px;
}

ul {
  margin-top: 0;
}

button {
  background: none;
  border-radius: 0;
  border: 1px solid darkgray;
  padding: .5em;
}

button {
  cursor: pointer;
}

button.-success {
  background: yellowgreen;
}

button.-warning {
  background: orange;
}

.challange-title {
  display: inline-block;
}

.failed .challange-title{
  text-decoration: line-through;
}

.failed-text {
  text-decoration: none;
  color: darkred;
  margin-top: 0;
}

.failed h3:after, .failed h2:after {
  clear: both;
}



.detail-element {
  margin: 2em 0;
}

.detail-headline {
  margin-bottom: .5em;
}

.detail-content {
  margin-left: 1.5em;
}
